<section class="mainbar" data-ng-controller="sealedsim as vm">
    <section class="matter">
        <div class="container-fluid">
            <div ng-include data-src="'/app/handmodal/handmodal.html'"></div>

            <div class="row">                
                <div ng-include data-src="'/app/adverts/amazonadverts.html'"></div>
            </div>

            <div class="row">

                <div id="mainCol" class="col-xs-12 addRowMargins fullView" ng-class="{'col-md-8 col-lg-9': !vm.chartsHidden, 'col-md-12 col-lg-12': vm.chartsHidden }">

                    <div class="normalPanel">
                        <div class="row">
                            <div class="col-xs-12 textcenter">
                                <div>
                                    Number of Magic Origins Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_ori" />
                            </div>
                            <div class="col-xs-12 textcenter">
                                <div>
                                    Number of Modern Masters 2015 Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_mm2" />
                            </div>
                        </div>


                        <div class="row textcenter">
                            Seeded Booster:<br />
                            <select ng-model="vm.include_seeded_boosters" ng-options="item.key as item.value for item in vm.include_seeded_boosters_options"></select><br />
                            <span ng-if="vm.include_seeded_boosters != '0'" class="chris-warning_text"><!--Seeded boosters are still set to KTK seeded boosters. It is not yet confirmed if there are new ones for FRF.--></span>
                        </div>

                        <div class="optionsButton " ng-click="vm.includeOlderSets()">
                            More Options
                            <i ng-if="!vm.showOldSets" class="icon-chevron-down"></i>
                            <i ng-if="vm.showOldSets" class="icon-chevron-up"></i>
                        </div>

                        <div class="row moreOptionsSection" ng-if="vm.showOldSets">
                            <div ng-repeat="additionalSeeded in vm.additionalSealedPacks track by $index">
                                <div class="col-xs-12 textcenter">
                                    <select ng-model="vm.additionalSealedPacks[$index]" ng-options="item.key as item.value for item in vm.include_seeded_boosters_options"></select>
                                    <button class="chris-btn chris-btn-super-mini" ng-click="vm.removeSealedPack()"><i class="icon-minus"></i></button>
                                </div>
                            </div>
                            <div class="col-xs-12 textcenter">
                                <button class="chris-btn chris-btn-mini" ng-click="vm.addSeededPack()">Add Seeded Pack</button>
                            </div>
                            <div class="col-xs-12 col-md-6 textcenter">
                                <div>
                                    Number of Dragons of Tarkir Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_dtk" />
                            </div>
                            <div class="col-xs-12 col-md-6 textcenter">
                                <div>
                                    Number of Fate Reforged Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_frf" />
                            </div>
                            <div class="col-xs-12 col-md-12 textcenter">
                                <div>
                                    Number of Khans of Tarkir Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_ktk" />
                            </div>
                            <div class="col-xs-12 col-md-6 textcenter">
                                <div>
                                    Magic 2015 Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_core" />
                            </div>
                            <div class="col-xs-12 col-md-6 textcenter">
                                <div>
                                    Journey into Nyx Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_jou" />
                            </div>
                            <div class="col-xs-12 col-md-6 textcenter">
                                <div>
                                    Born of the Gods Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_bng" />
                            </div>
                            <div class="col-xs-12 col-md-6 textcenter">
                                <div>
                                    Theros Boosters
                                </div>
                                <input type="number" ng-model="vm.boosters_to_open_ths" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-push-4 col-lg-4 textcenter">
                            <button class="chris-btn" ng-click="vm.openBoosters()">Open Boosters</button>
                        </div>
                        <div class="col-xs-6 col-lg-pull-4 col-lg-4 saveButtons">
                            <button class="chris-btn chris-btn-mini" ng-click="vm.saveSelection()">Save selection <i class="icon-save"></i></button>
                        </div>
                        <div class="col-xs-6 col-lg-4 saveButtons" style="text-align:right;">
                            <button class="chris-btn chris-btn-mini" ng-click="vm.saveCompletePool()">Save pool <i class="icon-save"></i></button>

                            <div ng-show="vm.chartsHidden">
                                <button class="chris-btn chris-btn-mini" ng-click="vm.hideCharts()">Show Charts <i class="icon-chevron-down"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="widget wmtg normalPanel">
                        <div data-cc-widget-header title="Cards from packs ({{vm.boosterCards.length}})"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <ul class="today-datas">
                                <li data-ng-repeat="card in vm.boosterCards track by $index">
                                    <img ng-click="vm.addToDeck(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                                    <span ng-click="vm.addToDeck(card)" data-ng-if="card.isFoil == true" class="foil">FOIL</span>
                                </li>
                                <li data-ng-repeat="card in vm.landcards track by $index">
                                    <img ng-click="vm.addLandCard(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                                    <span ng-click="vm.addLandCard(card)" data-ng-if="card.isFoil == true" class="foil">FOIL</span>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="row textcenter">
                        <button class="chris-btn" ng-click="vm.openHandSimulator()">Try a test hand</button>
                    </div>

                    <div class="widget wmtg normalPanel">
                        <div data-cc-widget-header title="Selected Cards ({{vm.selectedCards.length + vm.selectedLandCards.length}})"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <ul class="today-datas">
                                <li data-ng-repeat="card in vm.selectedCards track by $index">
                                    <img ng-click="vm.removeFromDeck(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                                    <span ng-click="vm.removeFromDeck(card)" data-ng-if="card.isFoil == true" class="foil">FOIL</span>
                                </li>
                                <li data-ng-repeat="card in vm.selectedLandCards track by $index">
                                    <img ng-click="vm.removeLandCard(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                                    <span ng-click="vm.removeLandCard(card)" data-ng-if="card.isFoil == true" class="foil">FOIL</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>



                <div id="chartsDiv" class="col-xs-12 col-md-4 col-lg-3 fullView" ng-show="!vm.chartsHidden" ng-class="{ 'fixedPos': vm.fixedCharts }">

                    <div class="chartsColumn textcenter normalPanel">
                        <button class="btn chris-btn chris-btn-mini" ng-click="vm.hideCharts()">
                            Hide Charts <i class="icon-chevron-up"></i>
                        </button>
                    </div>
                    <div class="chartsColumn textcenter normalPanel">
                        <h3>Card Pool Stats</h3>
                        <div class="textcenter">
                            <h4>Number of Color Symbols</h4>
                            <div id="colorPieChartContainer-cardPool"></div>
                        </div>
                        <div class="textcenter">
                            <h4>Mana Curve</h4>
                            <div id="manaCurveBarChartContainer-cardPool"></div>
                        </div>
                        <div class="textcenter">
                            <h4>Number of Card Types</h4>
                            <div id="typePieChartContainer-cardPool"></div>
                        </div>
                    </div>

                    <div class="chartsColumn textcenter normalPanel">
                        <h3>Selected Cards Stats</h3>
                        <div class="textcenter">
                            <h4>Number of Color Symbols</h4>
                            <div id="colorPieChartContainer-selectedCards"></div>
                        </div>
                        <div class="textcenter">
                            <h4>Mana Curve</h4>
                            <div id="manaCurveBarChartContainer-selectedCards"></div>
                        </div>
                        <div class="textcenter">
                            <h4>Number of Card Types</h4>
                            <div id="typePieChartContainer-selectedCards"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        </div>
    </section>
</section>
