<div class="container-fluid" data-ng-controller="draftsim as vm">
    <div ng-include data-src="'/app/handmodal/handmodal.html'"></div>

    <div class="row">
        <div ng-include data-src="'/app/adverts/amazonadverts.html'"></div>
    </div>

    <div class="row">
        <div class="col-xs-12 addRowMargins fullView" ng-class="{'col-md-8 col-lg-9': !vm.chartsHidden, 'col-md-12 col-lg-12': vm.chartsHidden }">

            <div class="normalPanel">
                <div class="row">
                    <div class="col-xs-12 col-md-6 textcenter">
                        <div>
                            Number of Dragons of Tarkir Boosters
                        </div>
                        <input type="number" ng-model="vm.boosters_to_open_dtk" />
                    </div>
                    <div class="col-xs-12 col-md-6 textcenter">
                        <div>
                            Number of Fate Reforged Boosters
                        </div>
                        <input type="number" ng-model="vm.boosters_to_open_frf" />
                    </div>
                </div>

                <div class="optionsButton " ng-click="vm.displayExtraOptions()">
                    More Options
                    <i ng-if="!vm.showExtraOptions" class="icon-chevron-down"></i>
                    <i ng-if="vm.showExtraOptions" class="icon-chevron-up"></i>
                </div>
                <div ng-if="vm.showExtraOptions" class="moreOptionsSection">
                    <div class="row textcenter">
                        <div>
                            Number of Players
                        </div>
                        <input type="number" ng-model="vm.numberOfPlayers" />
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 textcenter">
                            <div>
                                Number of Khans of Tarkir Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_ktk" />
                        </div>
                        <div class="col-xs-12 col-md-6 textcenter">
                            <div>
                                Magic 2015 Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_core" />
                        </div>
                        <div class="col-xs-12 col-md-6 textcenter">
                            <div>
                                Journey into Nyx Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_jou" />
                        </div>
                        <div class="col-xs-12 col-md-6 textcenter">
                            <div>
                                Born of the Gods Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_bng" />
                        </div>
                        <div class="col-xs-12 col-md-6 textcenter">
                            <div>
                                Theros Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_ths" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="textcenter">
                <button ng-click="vm.startDraft()" class="chris-btn">
                    <span ng-if="!vm.draftStarted">Start Draft</span>
                    <span ng-if="vm.draftStarted">Restart Draft</span>
                </button>
                <button class="btn chris-btn" ng-click="vm.hideCharts()" ng-show="vm.chartsHidden">
                    Show Charts <i class="icon-chevron-down"></i>
                </button>
            </div>

            <div class="widget wmtg normalPanel" ng-if="vm.boosterCards.length > 0 && !vm.draftFinished">
                <div data-cc-widget-header title="{{vm.topPanelCardsTitle}} ({{vm.boosterCards.length}})"
                     allow-collapse="true"></div>
                <div class="widget-content text-center text-info">
                    <ul class="today-datas">
                        <li data-ng-repeat="card in vm.boosterCards track by $index">
                            <img ng-click="vm.addToDeck(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget wmtg normalPanel" ng-if="vm.boosterCards.length == 0 && vm.draftFinished">
                <div data-cc-widget-header title="{{vm.topPanelCardsTitle}} ({{vm.deckCards.length + vm.selectedLandCards.length}})"
                     allow-collapse="true"></div>
                <div class="widget-content text-center text-info">
                    <div>
                        <p>
                            The draft is complete. You can build a deck with the cards by clicking a card in your pool.
                        </p>
                        <ul class="today-datas">
                            <li data-ng-repeat="card in vm.deckCards track by $index">
                                <img ng-click="vm.deckCardClick(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                            </li>
                            <li data-ng-repeat="card in vm.selectedLandCards track by $index">
                                <img ng-click="vm.removeLandCard(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="vm.draftFinished">
                <div class="col-xs-12 col-lg-push-4 col-lg-4 textcenter">
                    <button class="chris-btn" ng-click="vm.openHandSimulator()">Try a test hand</button>
                </div>
                <div class="col-xs-6 col-lg-pull-4 col-lg-4 saveButtons">
                    <button class="pull-left chris-btn chris-btn-mini" ng-click="vm.downloadDraftDeck()">Save My Deck <i class="icon-save"></i></button>
                </div>
                <div class="col-xs-6 col-lg-4 saveButtons" style="text-align:right;">
                    <button class="pull-right chris-btn chris-btn-mini" ng-click="vm.downloadFullPool()">Save Full Pool <i class="icon-save"></i></button>
                </div>
            </div>

            <div class="widget wmtg normalPanel" ng-if="vm.draftStarted">
                <div data-cc-widget-header title="Card Pool ({{vm.selectedCards.length}})"
                     allow-collapse="true"></div>
                <div class="widget-content text-center text-info">
                    <ul class="today-datas">
                        <li data-ng-repeat="card in vm.selectedCards track by $index">
                            <img ng-click="vm.cardPoolClick(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                        </li>
                        <li data-ng-repeat="card in vm.landcards track by $index">
                            <img ng-click="vm.landCardClick(card)" src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                        </li>
                    </ul>
                </div>
            </div>

            <div class="widget wmtg normalPanel hidden-xs hidden-sm" ng-if="vm.boosterCards.length == 0 && vm.draftFinished" data-ng-repeat="ai in vm.AIs" ng-show="!$first">
                <div data-cc-widget-header title="AI {{ai.name}} Choices" allow-collapse="true">
                </div>
                <div class="widget-content text-center text-info">
                    <ul class="today-datas">
                        <li data-ng-repeat="card in ai.cards track by $index">
                            <img src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-4 col-lg-3 hidden-xs hidden-sm fullView" ng-show="!vm.chartsHidden">
            <div class="chartsColumn textcenter normalPanel">
                <button class="btn chris-btn chris-btn-mini" ng-click="vm.hideCharts()">
                    Hide Charts <i class="icon-chevron-up"></i>
                </button>
                <h3>{{vm.cardStatsTitle}}</h3>
                <div class="textcenter">
                    <h4>Number of Color Symbols</h4>
                    <div id="colorPieChartContainer"></div>
                </div>
                <div class="textcenter">
                    <h4>Mana Curve</h4>
                    <div id="manaCurveBarChartContainer"></div>
                </div>
                <div class="textcenter">
                    <h4>Number of Card Types</h4>
                    <div id="typePieChartContainer"></div>
                </div>
            </div>
        </div>


    </div>


</div>