<section class="mainbar" data-ng-controller="draftsim as vm">
    <section class="matter">
        <div class="container-fluid">
            <div ng-include data-src="'/app/handmodal/handmodal.html'"></div>


            <div class="row-fluid">
                <div class="span10">

                    <div class="row-fluid hidden-phone">
                        <div class="span12" style="text-align:center;">
                            <div class="input-prepend">
                                <span class="add-on">Number of Khans of Tarkir Boosters: </span>
                                <input type="number" ng-model="vm.boosters_to_open_ktk" />
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid visible-phone">
                        <div class="span12" style="text-align:center">
                            <span class="add-on">Number of Khans of Tarkir Boosters: </span>
                        </div>
                        <div class="span12" style="text-align:center">
                            <input type="number" ng-model="vm.boosters_to_open_ktk" />
                        </div>
                    </div>

                    <div class="row-fluid" style=" margin-bottom:15px;">
                        <button ng-click="vm.displayExtraOptions()" class="pull-left">
                            More Options
                            <i ng-if="!vm.showExtraOptions" class="icon-chevron-down"></i>
                            <i ng-if="vm.showExtraOptions" class="icon-chevron-up"></i>
                        </button>
                    </div>
                    <div class="row-fluid">
                        <div class="span12" ng-if="vm.showExtraOptions">
                            <div class="row-fluid">
                                <div class="span12 textcenter">
                                    <div class="row-fluid">
                                        <span class="add-on">Number of Players: </span>
                                    </div>
                                    <div class="row-fluid">
                                        <input type="number" ng-model="vm.numberOfPlayers" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12 textcenter">
                                    <div class="row-fluid">
                                        <span class="add-on">Magic 2015 Boosters</span>
                                    </div>
                                    <div class="row-fluid">
                                        <input type="number" ng-model="vm.boosters_to_open_core" />
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4 textcenter">
                                    <div class="row-fluid">
                                        <span class="add-on">Number of Journey into Nyx Boosters: </span>
                                    </div>
                                    <div class="row-fluid">
                                        <input type="number" ng-model="vm.boosters_to_open_jou" />
                                    </div>
                                </div>
                                <div class="span4 textcenter">
                                    <div class="row-fluid">
                                        <span class="add-on">Number of Born of the Gods Boosters: </span>
                                    </div>
                                    <div class="row-fluid">
                                        <input type="number" ng-model="vm.boosters_to_open_bng" />
                                    </div>
                                </div>
                                <div class="span4 textcenter">
                                    <div class="row-fluid">
                                        <span class="add-on">Number of Theros Boosters: </span>
                                    </div>
                                    <div class="row-fluid">
                                        <input type="number" ng-model="vm.boosters_to_open_ths" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <button ng-click="vm.startDraft()" class="span-12 btn btn-primary chris-btn">
                            <span ng-if="!vm.draftStarted">Start Draft</span>
                            <span ng-if="vm.draftStarted">Restart Draft</span>
                        </button>
                    </div>

                    <div class="row-fluid" ng-if="vm.boosterCards.length > 0 && !vm.draftFinished">
                        <div class="span12">
                            <div class="widget wmtg">
                                <div data-cc-widget-header title="{{vm.topPanelCardsTitle}}"
                                     subtitle="{{vm.boosterCards.length}}"
                                     allow-collapse="true"></div>
                                <div class="widget-content text-center text-info">
                                    <ul class="today-datas">
                                        <li data-ng-repeat="card in vm.boosterCards track by $index">
                                            <img ng-click="vm.addToDeck(card)" src="{{card.Image}}" class="image_width" alt="{{card.Name}}" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid" ng-if="vm.boosterCards.length == 0 && vm.draftFinished">
                        <div class="span12">
                            <div class="widget wmtg">
                                <div data-cc-widget-header title="{{vm.topPanelCardsTitle}}"
                                     subtitle="{{vm.deckCards.length + vm.selectedLandCards.length}}"
                                     allow-collapse="true"></div>
                                <div class="widget-content text-center text-info">
                                    <div>
                                        <p>
                                            The draft is complete. You can build a deck with the cards by clicking a card in your pool.
                                        </p>
                                        <ul class="today-datas">
                                            <li data-ng-repeat="card in vm.deckCards track by $index">
                                                <img ng-click="vm.deckCardClick(card)" src="{{card.Image}}" class="image_width" alt="{{card.Name}}" />
                                            </li>
                                            <li data-ng-repeat="card in vm.selectedLandCards track by $index">
                                                <img ng-click="vm.removeLandCard(card)" src="{{card.Image}}" class="image_width" alt="{{card.Name}}" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div ng-if="vm.draftFinished">
                        <div class="row-fluid">
                            <button class="span-12 btn btn-primary chris-btn" ng-click="vm.openHandSimulator()">Try a test hand</button>
                        </div>

                        <div class="row-fluid" style="margin-top:10px;">
                            <button class="pull-left" ng-click="vm.downloadDraftDeck()">Save My Deck <i class="icon-save"></i></button>
                            <button class="pull-right" ng-click="vm.downloadFullPool()">Save Full Pool <i class="icon-save"></i></button>
                        </div>
                    </div>

                    <!--<div class="row-fluid" ng-if="vm.draftFinished" style="margin-top:10px;">
                        <button class="span-12 btn btn-primary chris-btn" ng-click="vm.downloadDraftSelection()">Save selection as text</button>
                    </div>-->

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget wmtg">
                                <div data-cc-widget-header title="{{vm.cardStatsTitle}}"
                                     subtitle=""
                                     allow-collapse="true"></div>
                                <div class="widget-content text-center text-info">
                                    <div class="row-fluid">
                                        <div class="span4 textcenter">
                                            <h4>Number of Color Symbols</h4>
                                            <div id="colorPieChartContainer"></div>
                                        </div>
                                        <div class="span4 textcenter">
                                            <h4>Number of Card Types</h4>
                                            <div id="typePieChartContainer"></div>
                                        </div>
                                        <div class="span4 textcenter">
                                            <h4>Mana Curve</h4>
                                            <div id="manaCurveBarChartContainer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget wmtg">
                                <div data-cc-widget-header title="Card Pool"
                                     subtitle="{{vm.selectedCards.length}}"
                                     allow-collapse="true"></div>
                                <div class="widget-content text-center text-info">
                                    <ul class="today-datas">
                                        <li data-ng-repeat="card in vm.selectedCards track by $index">
                                            <img ng-click="vm.cardPoolClick(card)" src="{{card.Image}}" class="image_width" alt="{{card.Name}}" />
                                        </li>
                                        <li data-ng-repeat="card in vm.landcards track by $index">
                                            <img ng-click="vm.landCardClick(card)" src="{{card.Image}}" class="image_width" alt="{{card.Name}}" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid" ng-if="vm.boosterCards.length == 0 && vm.draftFinished" data-ng-repeat="ai in vm.AIs" ng-show="!$first">
                        <div class="span12">
                            <div class="widget wmtg">
                                <div data-cc-widget-header title="AI {{ai.name}} Choices" allow-collapse="true">
                                </div>
                                <div class="widget-content text-center text-info">
                                    <ul class="today-datas">
                                        <li data-ng-repeat="card in ai.cards track by $index">
                                            <img src="{{card.Image}}" class="image_width" alt="{{card.Name}}" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="span2 hidden-phone">
                    <div ng-include data-src="'/app/adverts/amazonadverts.html'"></div>
                </div>


            </div>


        </div>
    </section>
</section>
