<section class="mainbar" data-ng-controller="boostersim as vm">
    <section class="matter">
        <div class="container-fluid">

            <div class="row">
                <div ng-include data-src="'/app/adverts/amazonadverts.html'"></div>
            </div>

            <div class="row">

                <div class="col-xs-12 addRowMargins">

                    <div class="row normalPanel moreOptionsSection">

                        <div class="col-xs-12 col-md-6 col-lg-4 textcenter">
                            <div>
                                Number of Dragons of Tarkir Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_dtk" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 textcenter">
                            <div>
                                Number of Fate Reforged Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_frf" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 textcenter">
                            <div>
                                Number of Khans of Tarkir Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_ktk" />
                        </div>
                        <div class="col-xs-12 textcenter">
                            <div>
                                Magic 2015 Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_core" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 textcenter">
                            <div>
                                Journey into Nyx Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_jou" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 textcenter">
                            <div>
                                Born of the Gods Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_bng" />
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-4 textcenter">
                            <div>
                                Theros Boosters
                            </div>
                            <input type="number" ng-model="vm.boosters_to_open_ths" />
                        </div>
                    </div>

                    <div class="row textcenter">
                        <button ng-click="vm.openBoosters()" class="chris-btn">Open Boosters</button>
                    </div>

                    <div class="widget wmtg normalPanel">
                        <div data-cc-widget-header title="Opened Cards ({{vm.cards.length}})"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <ul class="today-datas">
                                <li data-ng-repeat="card in vm.cards track by $index">
                                    <img src="{{card.Image}}" class="mtgCard" alt="{{card.Name}}" />
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            
            
            
        </div>
    </section>
</section>